*{padding: 0; margin: 0; text-decoration: none; box-sizing: border-box}

.title {color: white;font-size: 35px;line-height: 80px;padding: 0 100px;font-weight: bold;font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
.navigation {background:#0082E6;height: 160px;width:100%}

.list{
    margin-right: 20px;
    color: white;
    float: right;
    float-offset: 0;
    
}

.navbar{display:inline-block;line-height: 80px; margin: 0 5px;}
